<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Este titulo es para la pestaña-->
    <title>A tope de power</title>
    
</head>
<body>
    <main>
        <article>
            <h1>Mi página para ponerme en forma</h1>
            <p> Nuestra biología es, esencialmente, la de un recolector-cazador viviendo en un mundo de oficinas y entregas a domicilio.
                El ejercicio no es un "lujo" moderno, sino un mantenimiento obligatorio para un diseño evolutivo que no ha cambiado en miles de años.
                Por qué es vital hacer ejercicio hoy:
            </p>
            <ol>
                <p>   
                <li>Genética "Ahorradora": Tus genes están programados para almacenar energía (grasa) para la próxima escasez que nunca llega. Sin ejercicio, ese almacenamiento se vuelve crónico y dañino.</li>
                </p>
                <li>Limpieza Metabólica: Para tus ancestros, el movimiento era el motor que regulaba la glucosa y la presión arterial. Sin ese motor, el sistema se "oxida" (diabetes, hipertensión).</li>
                <p>
                <li>Salud Mental: El cerebro evolucionó para liberar dopamina y endorfinas durante la actividad física (como recompensa por conseguir comida). Hoy, la falta de movimiento apaga esos químicos, facilitando la ansiedad y la depresión.</li>
                </p>
                <li>En resumen: No hacemos ejercicio para "ponernos guapos", sino para convencer a nuestro cuerpo de que no estamos en peligro de extinción por falta de uso.</li>
            </ol>
             

        </article>


    </main>
    <h2>¡Vamos a ello!</h2>
    <ul>
        <li>Pesas con barra y discos sueltos</li>
        https://www.youtube.com/watch?v=-0w8MIIQNag&t=40s
        <li>Cardio HIIT</li>
        https://www.youtube.com/watch?v=R3svujpfFlI&t=10s
        <li>Estiramientos</li>
        https://www.youtube.com/watch?v=VeYx_NiULEo
    </ul>
    <img src="imagen/gym.jpg" alt = "Una imagen de prueba">
    
</body>
</html>