<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio</title>
</head>
<body>
    <ul>
        <li>Pesas con barra y discos sueltos</li>
        <a href="/watch?v=-0w8MIIQNag&t=40s"target="_blank" rel="noreferrer noopener" >Les Mills</a>
        <li>Cardio HIIT</li>
        <a href="//www.youtube.com/watch?v=R3svujpfFlI&t=10s"target="_blank" rel="noreferrer noopener">Strong</a>
        <li>Estiramientos</li>
        <a href="//www.youtube.com/watch?v=VeYx_NiULEo"target="_blank" rel="noreferrer noopener">Yoga</a>
    </ul>
    <img src="static/gym.jpg" alt = "Una imagen de prueba">
    
</body>
</html>

if __name__ == '__main__':
    app.run(debug=True)