<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Este titulo es para la pestaña-->
    <title>A tope de power</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.css') }}">
    
    <style>
        h1 {
            color: blueviolet; font-size: 50px;
        }

        p{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 20px;
        }
    </style>
</head>
    <body><main class="container">
        <section id="header">
            <h1>Mi página para ponerme en forma</h1>
            <h3>Únete a nuestra Tribu</h3>

            <form>
                <div class="grid">
                    <input
                    type="text"
                    name="name"
                    placeholder="Nombre"
                    aria-label="name"
                    required
                    >
                    <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    aria-label="Email"
                    autocomplete="email"
                    required
                    >
                    <input
                    type="number"
                    name="edad"
                    placeholder="Edad"
                    aria-label="Email"
                    autocomplete="edad"
                    opcional
                    >
                    <button type="submit">ÚNETE</button>
            
          </div>
        <form>
    </section>
            <img src="static/espalda.jpg" alt="Imagen de espalda de mujer con barra">

            <section id="content">
                <article><p>
                Nuestra biología es, esencialmente, la de un recolector-cazador viviendo en un mundo de oficinas y entregas a domicilio.
                El ejercicio no es un "lujo" moderno, sino un mantenimiento obligatorio para un diseño evolutivo que no ha cambiado en miles de años.
                Por qué es vital hacer ejercicio hoy:
            </p>
            <blockquote>
            <ol>
                <p>   
                <li>Genética "Ahorradora": Tus genes están programados para almacenar energía (grasa) para la próxima escasez que nunca llega. Sin ejercicio, ese almacenamiento se vuelve crónico y dañino.</li>
                </p>
                <li>Limpieza Metabólica: Para tus ancestros, el movimiento era el motor que regulaba la glucosa y la presión arterial. Sin ese motor, el sistema se "oxida" (diabetes, hipertensión).</li>
                <p>
                <li>Salud Mental: El cerebro evolucionó para liberar dopamina y endorfinas durante la actividad física (como recompensa por conseguir comida). Hoy, la falta de movimiento apaga esos químicos, facilitando la ansiedad y la depresión.</li>
                </p>
                <li>En resumen: No hacemos ejercicio para "ponernos guapos", sino para convencer a nuestro cuerpo de que no estamos en peligro de extinción por falta de uso.</li>
            </ol>
            </blockquote>
             

        </article>
        </section>

        <section id="links">
    </main>
    <h2>¡Vamos a ello!</h2>
    <div class="grid">
    <a href="ejercicio" role="button" target="_blank">🏋️ Ejercicio funcional</a>
    <a href="nutricion" role="button" target="_blank" class="secondary">🍎 Alimentación real</a>
    <a href="sol" role="button" target="_blank">☀️ Exposición al sol</a>
    </div>

    <div class="grid">
        <a href="hidratacion" role="button" target="_blank" class="secondary">💧 Hidratación</a>
        <a href="emociones" role="button" target="_blank">🧠 Emociones</a>
        <div></div> </div>
    </div>
    </section>
    
        </body>
    </html>
